name: ci
on:
  push:
    paths-ignore: ["**.md"]
    branches: [master]
  pull_request:
    paths-ignore: ["**.md"]
    branches: [master]
jobs:
  clippy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/toolchain
        with:
          components: clippy
          write_build_cache: false
      - run: cargo clippy

      - name: test core
        run: cargo test -p realm_core -v --no-fail-fast --features proxy
      - name: test binary
        run: cargo test -v --no-fail-fast
